* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --brown: rgba(200,165,125,255);
}

/*.background-img {
    height: 100%;
    width: 100%;
    background-image: url("bgimg.webp");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}*/

body {
    background-color: var(--brown);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}
.logo {
    width: 30rem;
    height: auto;
}



.content-container {
    display: flex;
    height: 82vh;
    /*height: auto;*/
    width: 100%;
}
.content-wrapper-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.content-wrapper-right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.leader {
    width: 20rem;
    position: relative;
    display: inline-block;
}
.small-img {
    width: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.8;
}